.projects {
  height: 180vh;
  color: black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1.2fr 1fr 1fr 1fr 1.2fr;
}

.projectTitle {
  position: absolute;
  bottom: 0;
  background-color: rgb(69, 68, 68, 0.8);
  width: 100%;
  height: 80px;
  color: #fbf6f2;
  letter-spacing: 0.2em;
  padding: 18px 0;
}

.projectTitle a {
  color: #fbf6f2;
  text-decoration: none;
}

#project1 {
  background-image: url('photos/collage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-row: 1;
  grid-column: 1 / span 4;
  position: relative;
}

#project2 {
  grid-column: 1;
  grid-row: 2;
  background-color: #917c7c;
  font-size: 0.8em;
  position: relative;
}

#project3 {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(69, 68, 68);
  font-size: 0.8em;
  position: relative;
}

#project4 {
  grid-column: 3 / span 4;
  grid-row: 2 / span 2;
  background-image: url('photos/digital.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
}

#project5 {
  color: #828b60;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  background-color: gainsboro;
  display: grid;
  background-image: url('photos/digital.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#project6 {
  grid-column: 3;
  grid-row: 4;
  background-color: peachpuff;
  font-size: 0.8em;
  position: relative;
}

#project7 {
  grid-column: 4;
  grid-row: 4;
  background-color: #e9c377;
  font-size: 0.8em;
  position: relative;
}

#project8 {
  grid-column: 1 / span 4;
  grid-row: 5;
  background-color: dimgray;
  position: relative;
}

.activeOverlay:hover .projectTitle {
  height: 100%;
  cursor: pointer;
  padding: 120px 0;
  font-size: 3.5em;
  transition: all 0.5s ease-in-out;
}

/* lightbox */
.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  text-decoration: none;
  color: black;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

.wrap {
  background-color: rgb(251, 246, 242, 0.9);
  height: 90%;
  width: 90%;
  margin: 2.5% auto;
}
