.projects {
  height: 180vh;
  color: black;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1.2fr 1fr 1fr 1fr 1.2fr;
}

.projectTitle {
  position: absolute;
  bottom: 0;
  background-color: rgb(69, 68, 68, 0.8);
  width: 100%;
  height: 90px;
  color: #fbf6f2;
  letter-spacing: 0.2em;
  padding: 18px 10px;
}

.projectTitle a {
  color: #fbf6f2;
  text-decoration: none;
}

#project1 {
  background-image: url('photos/collage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-row: 1;
  grid-column: 1 / span 4;
  position: relative;
}

#project2 {
  grid-column: 1;
  grid-row: 2;
  background-color: #917c7c;
  font-size: 0.8em;
  position: relative;
}

#project3 {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(69, 68, 68);
  font-size: 0.8em;
  position: relative;
}

#project4 {
  grid-column: 3 / span 4;
  grid-row: 2 / span 2;
  background-image: url('photos/digital.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
}

#project5 {
  color: #828b60;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  background-color: gainsboro;
  display: grid;
  background-image: url('photos/digital.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#project6 {
  grid-column: 3;
  grid-row: 4;
  background-color: peachpuff;
  font-size: 0.8em;
  position: relative;
}

#project7 {
  grid-column: 4;
  grid-row: 4;
  background-color: #e9c377;
  font-size: 0.8em;
  position: relative;
}

#project8 {
  grid-column: 1 / span 4;
  grid-row: 5;
  background-color: dimgray;
  position: relative;
}

.activeOverlay:hover .projectTitle {
  height: 100%;
  cursor: pointer;
  padding: 120px 10px;
  /* font-size: 3.5em; */
  transition: all 0.5s ease-in-out;
}

/* lightbox */
.lightbox {
  /** Default lightbox to hidden */
  visibility: hidden;
  opacity: 0;

  /** Position and style */
  text-decoration: none;
  color: black;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease-out;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in;
}

.projectDetailsTitle {
  grid-column: 1 / span 5;
  grid-row: 1;
  text-align: center;
  font-family: 'Lucky';
  color: #826363;
  letter-spacing: 0.2em;
}
/*
.wrap {
  background-color: rgb(251, 246, 242);
  height: 90%;
  width: 90%;
  margin: 2.5% auto;
  padding: 2% 5%;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
}

/* first style option

.projectDetailsClient {
  margin: 9% 5% 5% 10%;
  font-size: 1.2em;
  line-height: 1.8em;
  grid-row: 2;
  grid-column: 2;
}

.projectDetailsBlurb {
  margin: 10% 5% 5%;
  grid-row: 2;
  grid-column: 3;
}

.projectDetailsBlurb2 {
  margin: 10% 5% 5%;
  grid-row: 2;
  grid-column: 4;
}

.projectDetailsPhotos {
  grid-row: 3;
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projectDetailsMainPhoto {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background-image: url('photos/digital.jpeg');
  background-size: cover;
  margin: 4%;
}

.projectDetailsSecondPhoto {
  background-image: url('photos/marketing.jpeg');
  background-size: cover;
  grid-row: 1;
  grid-column: 3;
  margin: 8% 5% 3%;
}

.projectDetailsThirdPhoto {
  background-image: url('photos/type.jpg');
  background-size: cover;
  grid-row: 2;
  grid-column: 3;
  margin: 3% 5% 8%;
} */

/* second style option */

.wrap {
  background-color: rgb(251, 246, 242);
  height: 90%;
  width: 90%;
  margin: 2.5% auto;
  padding: 2% 5%;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  line-height: 1.5em;
  text-align: left;
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.projectDetailsBlurbs {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.projectDetailsClient {
  margin: 3% 5% 5% 10%;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.8em;
  grid-row: 1;
}

.projectDetailsSection {
  text-align: left;
  margin: 20px 0;
}

.projectDetailsBlurb {
  margin: 1% 10%;
  grid-row: 2;
}

.projectDetailsPhotos {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 0 3%;
}

.projectDetailsMainPhoto {
  grid-row: 1;
  grid-column: 1 / span 2;
  background-image: url('photos/digital.jpeg');
  background-size: cover;
  margin: 3% 0;
}

.projectDetailsSecondPhoto {
  background-image: url('photos/marketing.jpeg');
  background-size: cover;
  grid-row: 2;
  grid-column: 1;
  margin: 3% 5% 3% 0;
}

.projectDetailsThirdPhoto {
  background-image: url('photos/type.jpg');
  background-size: cover;
  grid-row: 2;
  grid-column: 2;
  margin: 3% 0 3% 5%;
}

.clientTitle {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: gray;
  margin-left: 0;
}
