@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova.otf');
}

.wrapper {
  position: relative;
}

.quoteSlider {
  height: 50vh;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  max-width: 70vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentQuote {
  position: relative;
}

.quote {
  font-family: 'ProximaNova';
  transition: 1.5s;
  color: black;
  position: absolute;
  top: 0;
  left: -200%;
  font-size: 2em;
  line-height: 1.25;
  width: 70vw;
  margin: 0 auto;
}

.controls {
  padding: 0 3px;
  position: absolute;
  top: 135px;
}

.quote-control {
  margin-top: 18px;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 8px;
}

.selected {
  background-color: rgba(2555, 255, 255, 0.3);
}

.in-focus {
  transition: 1.5s;
  left: 0;
}
