* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lucky';
  src: url('lucky.ttf');
}

body {
  font-family: 'Lucky';
  font-size: 14px;
  margin: 0;
  background-color: #fbf6f2;
  text-align: center;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5em;
  padding: 2% 0;
  margin: 0;
}

.menu {
  font-size: 1.3em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fbf6f2;
  height: 80px;
  padding: 0 25px;
  display: grid;
  grid-template-columns: 60% 40%;
  z-index: 99;
}

.navigationBar {
  font-family: 'DM Serif Display', serif;
  grid-column: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-self: center;
}

.pageLink {
  text-decoration: none;
  color: black;
}

.landingPage {
  height: 75vh;
}

.typewriter {
  padding-top: 20%;
  padding-left: 18%;
}

.typewriter h2 {
  text-align: left;
  color: black;
  overflow: hidden;
  border-right-color: #636b45;
  border-right: 0.15em solid;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.textRotate {
  color: #636b45;
}

.title {
  color: #636b45;
  grid-column: 1;
  text-align: left;
  align-self: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #636b45;
  }
}

.tagline {
  font-family: 'Lucky';
  font-size: 3em;
  margin: -0.8% 0 0 8%;
  padding: 0;
}

.introBlurb {
  height: 30vh;
  background-color: #cda34f;
  color: #fbf6f2;
  font-family: 'DM Serif Display', serif;
}

.introBlurb h3 {
  font-size: 2.2em;
  padding: 10vh 7%;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.storytelling {
  height: 75vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.storyServices {
  grid-column: 1;
  background-color: #fbf6f2;
  color: #826363;
}

.tellingServices {
  grid-column: 2;
  background-color: #826363;
  color: #826363;
}

.serviceList {
  grid-column: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.serviceItem,
.tellingServiceItem {
  list-style: none;
  width: 75%;
  height: 100px;
  padding: 35px 25px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  background-color: #826363;
  color: black;
  transition: all ease-in-out 0.3s;
}

.tellingServiceItem {
  background-color: #fbf6f2;
  position: relative;
}

.serviceBlurb,
.tellingServiceBlurb {
  color: #826363;
  font-size: 0px;
  transition: all ease-in-out 0.6s;
}

.tellingServiceBlurb {
  color: #826363;
}

.serviceTitle {
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
  transition: all ease-in-out 0.5s;
}

.serviceListTitle {
  font-size: 3.5em;
  color: #826363;
  text-align: right;
}

.tellingListTitle {
  font-size: 3.5em;
  color: #fbf6f2;
  text-align: left;
}

.serviceItem:hover,
.tellingServiceItem:hover {
  height: 42%;
  transition: all ease-in-out 0.3s;
}

.serviceItem:hover .serviceTitle {
  margin-top: 0;
  transition: all ease-in-out 0.3s;
}

.serviceItem:hover .serviceBlurb,
.tellingServiceItem:hover .tellingServiceBlurb {
  font-size: 1.3em;
  color: black;
  transition: font-size ease-in-out 0.4s;
  transition: color ease-in-out 1s;
}

.serviceItem:hover .tellingServiceBlurb {
  color: black;
}

.projects {
  height: 100vh;
  background-color: #fbf6f2;
  color: #636b45;
}

.about {
  height: 50vh;
  background-color: #636b45;
  color: #fbf6f2;
}

.clients {
  height: 70vh;
  background-color: #fbf6f2;
  color: #636b45;
}

.contact {
  height: 50vh;
  background-color: #826363;
  color: #fbf6f2;
}
