* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lucky';
  src: url('lucky.ttf');
}

body {
  font-family: 'Lucky';
  font-size: 14px;
  margin: 0;
  background-color: #fbf6f2;
  text-align: center;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5em;
  padding: 2% 0;
  margin: 0;
}

.overlay {
  height: 75vh;
  background-color: rgb(251, 246, 242, 0.85);
  z-index: 1;
}

.landingPage {
  height: 100%;
  background-image: url('photos/type.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  position: relative;
  z-index: -1;
}

.title {
  font-size: 6em;
  color: #636b45;
  text-align: center;
  padding-top: 12%;
  margin: 0 8% 0 0;
}

.tagline {
  font-family: 'Lucky';
  font-size: 3em;
  margin: -0.8% 0 0 8%;
  padding: 0;
}

.services {
  height: 50vh;
  background-color: #826363;
  color: #636b45;
}

.serviceList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
}

.serviceItem {
  list-style: none;
  width: 20%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  background-color: #fbf6f2;
  position: relative;
  overflow: hidden;
}

.serviceBlurb {
  color: #fbf6f2;
  font-size: 0px;
  transition: all ease-out 0.6s;
}

.serviceTitle {
  font-size: 2em;
  margin-top: 25%;
  transition: all ease-in-out 0.5s;
}

.serviceListTitle {
  padding: 2% 0 0;
  color: #fbf6f2;
}

.serviceItem:hover .serviceTitle {
  margin-top: 0;
  transition: all ease-in-out 0.3s;
}

.serviceItem:hover .serviceBlurb {
  font-size: 1em;
  color: #636b45;
  transition: font-size ease-in 0.4s;
  transition: color ease-in-out 1s;
}

/* .serviceItem.active .serviceBlurb {
  color: #636b45;
  display: block;
  height: auto;
} */

.projects {
  height: 100vh;
  background-color: #fbf6f2;
  color: #636b45;
}

.about {
  height: 50vh;
  background-color: #636b45;
  color: #fbf6f2;
}

.clients {
  height: 70vh;
  background-color: #fbf6f2;
  color: #636b45;
}

.contact {
  height: 50vh;
  background-color: #826363;
  color: #fbf6f2;
}
