* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lucky';
  src: url('lucky.ttf');
}

body {
  font-family: 'Lucky';
  font-size: 14px;
  margin: 0;
  background-color: #fbf6f2;
  text-align: center;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5em;
  padding: 2% 0;
  margin: 0;
}

.menu {
  font-size: 1.3em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fbf6f2;
  height: 80px;
  padding: 0 25px;
  display: grid;
  grid-template-columns: 60% 40%;
  z-index: 99;
}

.navigationBar {
  font-family: 'DM Serif Display', serif;
  grid-column: 2;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-self: center;
}

.pageLink {
  text-decoration: none;
  color: black;
}

.landingPage {
  height: 75vh;
}

.typewriter {
  padding-top: 20%;
  /* padding-left: 18%; */
}

.mainText {
  margin: 0 auto;

  text-align: left;
  color: black;
  overflow: hidden;
  border-right-color: #636b45;
  /* border-right: 0.15em solid; */
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.textRotate {
  font-size: 3em;
  color: #636b45;
  display: inline;
}

.title {
  color: #636b45;
  grid-column: 1;
  text-align: left;
  align-self: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #636b45;
  }
  100% {
    border-color: transparent;
  }
} */

.tagline {
  display: inline;
  font-family: 'Lucky';
  font-size: 3em;
  margin: 0 auto;
  padding: 0;
}

.flo-li {
  height: 150px;
  width: 150px;
  transform: translate3d(88vw, 23vh, 0) scale(0.8);
  color: #cda34f;
}

.flower {
  position: relative;
  color: #cda34f;
  border-top: calc(0.5 * 2vw) solid transparent;
  border-left: calc(0.5 * 2vw) solid #cda34f;
  border-right: calc(0.5 * 2vw) solid #cda34f;
  height: calc(1.25 * 2vw);
  width: 0;
  border-radius: 50% / 50% 50% 50% 50%;
  box-shadow: 0 calc(-0.5 * 2vw) 0 calc(-0.35 * 2vw) #cda34f;
  filter: drop-shadow(calc(2 * 2vw) 0 0 #cda34f);
}

.flower:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: calc(4.5 * 2vw);
  background: #cda34f;
  top: calc(-0.5 * 2vw);
  left: -1px;
  z-index: -10;
}
.flower:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border-top: 2vw solid transparent;
  border-left: calc(0.8 * 2vw) solid #cda34f;
  border-right: calc(0.8 * 2vw) solid #cda34f;
  height: calc(1.2 * 2vw);
  width: 0;
  left: 50%;
  margin: auto 0 0 calc(-0.8 * 2vw);
  top: calc(0.8 * 2vw);
  border-radius: 0 0 calc(0.125 * 2vw) calc(0.125 * 2vw);
  filter: drop-shadow(0 calc(1.4 * 2vw) 0 #cda34f);
}

.introBlurb {
  height: 30vh;
  background-color: #cda34f;
  color: #fbf6f2;
  font-family: 'DM Serif Display', serif;
}

.introBlurb h3 {
  font-size: 2.2em;
  padding: 10vh 7%;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.storytelling {
  height: 75vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.storyServices {
  grid-column: 1;
  background-color: #fbf6f2;
  color: #826363;
}

.tellingServices {
  grid-column: 2;
  background-color: #826363;
  color: #826363;
}

.serviceList {
  grid-column: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.serviceItem,
.tellingServiceItem {
  list-style: none;
  width: 75%;
  height: 100px;
  padding: 35px 25px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  background-color: #826363;
  color: black;
  transition: all ease-in-out 0.3s;
}

.tellingServiceItem {
  background-color: #fbf6f2;
  position: relative;
}

.serviceBlurb,
.tellingServiceBlurb {
  color: #826363;
  font-size: 0px;
  transition: all ease-in-out 0.6s;
}

.tellingServiceBlurb {
  color: #826363;
}

.serviceTitle {
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
  transition: all ease-in-out 0.5s;
}

.serviceListTitle {
  letter-spacing: 1.5em;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-right: -4%;
  font-size: 3.5em;
  color: #826363;
  text-align: right;
}

.tellingListTitle {
  letter-spacing: 1.5em;
  padding-top: 3%;
  padding-bottom: 1%;
  margin-left: 4%;
  font-size: 3.5em;
  color: #fbf6f2;
  text-align: left;
}

.serviceItem:hover,
.tellingServiceItem:hover {
  height: 42%;
  transition: all ease-in-out 0.3s;
}

.serviceItem:hover .serviceTitle {
  margin-top: 0;
  transition: all ease-in-out 0.3s;
}

.serviceItem:hover .serviceBlurb,
.tellingServiceItem:hover .tellingServiceBlurb {
  font-size: 1.3em;
  color: black;
  transition: font-size ease-in-out 0.4s;
  transition: color ease-in-out 1s;
}

.serviceItem:hover .tellingServiceBlurb {
  color: black;
}

.about {
  height: 50vh;
  background-color: #636b45;
  color: #fbf6f2;
}

.logos {
  height: 25vh;
  background-color: #fbf6f2;
  color: black;
}

.clientLogos {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.clients {
  height: 50vh;
  background-color: #fbf6f2;
  color: #636b45;
}

.about {
  height: 50vh;
  background-color: #cda34f;
  color: #fbf6f2;
  display: grid;
  grid-template-columns: 70% 30%;
}

.aboutBlurb {
  font-size: 1.5em;
  line-height: 1.5em;
  grid-column: 1;
  padding: 5%;
  margin: auto;
}

.natalia {
  grid-column: 2;
  height: 80%;
  width: auto;
  margin: auto 20% auto 0;
}

.contact {
  height: 40vh;
}

.contactMe {
  font-family: 'Lucky';
  font-size: 3em;
  padding-bottom: 1%;
  text-align: left;
  margin: 12% 0 0 8%;
  line-height: 2em;
}
