.landingPage {
  height: 75vh;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

.banner {
  grid-row: 3;
  display: block;
  width: 100%;
  position: relative;
  font-family: 'Lucky';
}

.typed_wrap {
  font-size: 2em;
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0 30px 31%;
  text-align: left;

  /*centers it in the .banner*/
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.typed_wrap h1 {
  font-family: 'Lucky';
  display: inline;
}

.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.typed::after {
  animation-delay: 5s;
  display: none;
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brandName {
  opacity: 0;
  color: black;
  grid-row: 2;
  width: 100%;
  position: relative;
  animation: titleAnimation 1s ease-in;
  animation-delay: 13.5s;
  -webkit-animation-fill-mode: forwards;
}

.brandName h1 {
  font-size: 5.5em;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.burst {
  height: 70px;
  position: absolute;
  right: 36%;
  bottom: 70px;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
