.banner {
  display: block;
  min-height: 70%;
  width: 100%;
  position: relative;
  font-family: 'Lucky';
}

.typed_wrap {
  font-size: 2em;
  display: block;
  width: 800px;
  height: auto;
  padding: 30px;
  text-align: left;

  /*centers it in the .banner*/
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.typed_wrap h1 {
  font-family: 'Lucky';
  display: inline;
}

.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.typed::after {
  animation-delay: 5s;
  display: none;
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
