.landingPage {
  height: 75vh;
  /* display: grid; */
  /* grid-template-rows: 1fr 5fr; */
}

.banner {
  grid-row: 3;
  display: block;
  width: 100%;
  position: relative;
  font-family: 'Lucky';
}

.typed_wrap {
  margin-top: 8%;
  font-size: 2em;
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0 30px 31%;
  text-align: left;

  /*centers it in the .banner*/
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.typed_wrap h1 {
  font-family: 'Lucky';
  display: inline;
}

.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.typed::after {
  animation-delay: 5s;
  display: none;
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brandName {
  color: black;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 16% auto 0;
}

.brandName h1 {
  font-size: 5.5em;
  margin: 0;
  /* margin: 0 auto; */
  /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%); */
}

.burst {
  height: 70px;
  position: absolute;
  right: 36%;
  bottom: 100px;
}

.tagline {
  font-size: 2em;
  transform: rotate(-5deg);
  margin: 10px 0 0 130px;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
